
# Large test/data files
ALON_workflow/stage_2/test_input/size_fraction_reconciliation/observations_VIRUS.tsv
ALON_workflow/stage_2/test_input/size_fraction_reconciliation/observations_CELLULAR.tsv
ALON_workflow/stage_2/test_input/size_fraction_reconciliation/observations_ALL.tsv
